@import './base.css';
#app {
    margin: 0 0;
    margin-left: 250px;
    padding: 2rem;
    font-weight: normal;
    width: 100%;
    color: white;
    background: url('/src/assets/colored_body_top.png') center top no-repeat #1b2838;
}

a,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
    padding: 3px;
}

#logonav {
    font-weight: bold;
    font-size: 30px;
}

.navtitle {
    display: inline-flex!important;
    justify-content: center!important;
    align-items: center!important;
    width: 100%;
}

.v-application {
    color: white!important;
    background-color: transparent!important;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

@media (min-width: 1024px) {
    body {
        display: flex;
        place-items: start;
        width: 100%;
    }
}